*          text=auto
*.md       text diff=markdown whitespace=blank-at-eof,-blank-at-eol,tab-in-indent
*.cpp      text diff=cpp      whitespace=trailing-space,tab-in-indent
*.h        text diff=cpp      whitespace=trailing-space,tab-in-indent
*.sh       text diff=bash     whitespace=trailing-space eol=lf
configure  text diff=bash     whitespace=trailing-space eol=lf
*.in       text               whitespace=trailing-space eol=lf
